{#
Abstract: '_' + $ID_OF_FIELD + '_entry_' + $FIELD_NAME + '_row'
Concrete: '_' + 'property_field_options' + '_entry_' + 'label' + '_row'

When in doubt, inspect the page and look at the ID of the form field

@see http://symfony.com/doc/current/cookbook/form/form_customization.html#how-to-customize-an-individual-field
#}

{#{% block _import_record_mappings_entry_mapped_from_row %}

    test
#}{#    <div class="row">
        <div class="col-md-11">
            {{ form_widget(form.parent.label) }}
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-link js-removeItem"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>#}{#
{% endblock %}#}

{% block _property_field_options_entry_label_widget %}
        <div class="row">
                <div class="col-md-11">
                        {{ form_widget(form.parent.label) }}
                </div>
                <div class="col-md-1">
                        <button type="button" class="btn btn-link js-removeItem"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </div>
        </div>
{% endblock %}

{% block _edit_property_field_options_entry_label_widget %}
    <div class="row">
        <div class="col-md-11">
            {{ form_widget(form.parent.label) }}
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-link js-removeItem"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
    </div>
{% endblock %}

{% block number_format_widget %}
    {% spaceless %}
        {% for child in form if not child.rendered %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% if child.vars.value == 'UNFORMATTED_NUMBER' %}
                <small class="form-text text-muted">Enable this option if you would like for the property to not be formatted.</small>
            {% endif %}
            {% if child.vars.value == 'CURRENCY' %}
                <small class="form-text text-muted">Enable this option if you would like for the property to be formatted as currency.</small>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock %}
