<div class="row">
    {% for name, attributes in fields %}
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-1">
                <input class=""
                       type="radio"
                       id="interaction_type_{{ loop.index0 }}"
                       name="field_type"
                       autocomplete="off"
                       data-short-description="{{ attributes.shortDescription }}"
                       value="{{ name }}"
                      {#  {% if currentInteractionType == name %}
                            checked="checked"
                        {% endif %}#}
                />
            </div>
            <div class="col-md-11">
                <label for="field_type_{{ loop.index0 }}" class="changeField-label">
                    <h2>{{ attributes.shortDescription }}</h2>
                    <div>
                        {{ attributes.description }}
                    </div>
                </label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>