{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr': {novalidate: 'novalidate', class: 'js-forgot-password-form'}}) }}

{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12 p-login__field-container">
        {{ form_errors(form.emailAddress) }}
        {{ form_widget(form.emailAddress, {'attr': {autofocus: 'autofocus', placeholder: 'Email'}}) }}
    </div>

    <div class="col-md-12" align="center">
        <input type="submit" class="p-login__login-button" value="Reset"/>
    </div>

</div>

{{ form_rest(form) }}
{{ form_end(form) }}