{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr': {class: 'js-form-editor-edit-options-form', novalidate: 'novalidate'}}) }}

{% if form.submitAction is defined %}
    {{ form_row(form.submitAction, {'attr': {class: 'js-submit-action', novalidate: 'novalidate'}}) }}
{% endif %}


<div class="js-submit-action-container">
    {% if form.redirectUrl is defined %}
        {{ form_row(form.redirectUrl, {'attr': {novalidate: 'novalidate'}}) }}
    {% endif %}

    {% if form.submitMessage is defined %}
        {{ form_row(form.submitMessage, {'attr': {novalidate: 'novalidate'}}) }}
    {% endif %}
</div>

{{ form_row(form.cookieTracking, {'attr': {class: 'js-radio-field', novalidate: 'novalidate'}}) }}

{{ form_row(form.recaptcha, {'attr': {class: 'js-radio-field', novalidate: 'novalidate'}}) }}

<br>
{{ form_rest(form) }}
{{ form_end(form) }}
