{% form_theme form with ['bootstrap_4_layout.html.twig', 'form/fields.html.twig'] %}

{{ form_start(form, {'attr': {class: 'js-record-import-form', novalidate: 'novalidate'}}) }}
<div class="js-import-file-generic-errors">
    {{ form_errors(form) }}
</div>
<div class="js-import-file">
    <label for="import_record_file" class="required">Import File</label>
    <div class="js-import-file-error">
        {{ form_errors(form.file) }}
    </div>
    {{ form_widget(form.file, {'attr': {novalidate: 'novalidate', class: 'js-import-file-field'}}) }}
    <small>Supported file types are csv, odd, and xlsx.</small>
</div>
<br>
<div class="js-column-mapper">
    {% set sharedButtonMarkup %}
        <button type="button" class="btn btn-link js-addItem float-left"><i class="fa fa-plus" aria-hidden="true"></i> Add mapping</button>
    {% endset %}

    {% if form.mappings is defined %}
        <ul class="list-group list-group-flush js-parent-container" data-template="{{ include('form/import_record_column_mapping_prototype.html.twig', { 'form': form.mappings.vars.prototype })|replace({'__prototype_one__': '${index}'})|e }}">
            {% for map in form.mappings %}
                <li class="list-group-item js-child-item">
                    {{ form_errors(map) }}
                    {{ form_widget(map) }}
                </li>
            {% endfor %}
        </ul>
        {{ sharedButtonMarkup }}
    {% endif %}

    {% if form.import is defined %}
        {{ form_row(form.import) }}
    {% endif %}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
