{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr': {class: 'js-record-import-form', novalidate: 'novalidate'}}) }}
{{ form_row(form.file, {'attr': {novalidate: 'novalidate', class: 'js-import-file-field'}}) }}
<br>
{% for column in columns %}
    {% if (attribute(form, column) is defined) %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(attribute(form, column)) }}
        </div>
        <div class="col-md-6">
            {{ form_row(attribute(form, column ~ '_properties')) }}
        </div>
    </div>
    {% endif %}
{% endfor %}
{{ form_rest(form) }}
{{ form_end(form) }}
