{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr': {class: 'js-record-import-form', novalidate: 'novalidate'}}) }}
<div class="js-import-file">
    <label for="import_record_file" class="required">CSV File</label>
    <div class="js-import-file-error">
        {{ form_errors(form.file) }}
    </div>
    {{ form_widget(form.file, {'attr': {novalidate: 'novalidate', class: 'js-import-file-field'}}) }}
</div>
<br>
<div class="js-column-mapper">
    {% for column in columns %}
        {% if (attribute(form, column) is defined) %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(attribute(form, column)) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(attribute(form, column ~ '_properties')) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {% if form.import is defined %}
        {{ form_row(form.import) }}
    {% endif %}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
