{% form_theme form 'bootstrap_4_layout.html.twig' %}

<h3 class="p-login__heading">Reset Password</h3>
<br>

{{ form_start(form, {'attr': {class: 'js-reset-password-form', novalidate: 'novalidate'}}) }}

{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12 p-login__field-container">
        {{ form_errors(form.password) }}
        {{ form_widget(form.password, {'attr': {autofocus: 'autofocus', placeholder: 'Password'}}) }}
        <br>
        {{ form_errors(form.passwordRepeat) }}
        {{ form_widget(form.passwordRepeat, {'attr': {autofocus: 'autofocus', placeholder: 'Repeat Password'}}) }}
    </div>

    <div class="col-md-12" align="center">
        <input type="submit" class="p-login__login-button" value="Reset"/>
    </div>

</div>

<br>
{{ form_rest(form) }}
{{ form_end(form) }}
