<!-- SideNav Menu -->
<!-- https://bootsnipp.com/snippets/featured/responsive-navigation-menu -->
<div class="nav-side-menu">
    <div class="brand">EOC-Spot</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">

            <li>
                <a data-bypass="true" href="{{ path('custom_object_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                </a>
            </li>

            <li  data-toggle="collapse" data-target="#products" class="collapsed">
                <a href="javascript:void(0)"><i class="fa fa-object-ungroup"></i> Objects <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                {% for customObject in customObjects %}
                <li><a data-bypass="true" href="{{ path('record_list', {'internalIdentifier' : portal.internalIdentifier, 'internalName' : customObject.internalName}) }}">{{ customObject.label }}</a></li>
                {% endfor %}
            </ul>

            <li>
                <a data-bypass="true" href="{{ path('property_settings', {'internalIdentifier' : portal.internalIdentifier, 'internalName' : 'contacts'}) }}">
                    <i class="fa fa-object-group"></i> Properties
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('report_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-line-chart"></i> Reports
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('list_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-th-list"></i> Lists
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('user_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-users"></i> Users
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('form_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-wpforms"></i> Forms
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('user_settings', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-bar-chart"></i> Dashboards
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('workflows', {'internalIdentifier' : portal.internalIdentifier}) }}">
                    <i class="fa fa-wrench"></i> Workflows
                </a>
            </li>

            <li>
                <a data-bypass="true" href="{{ path('logout') }}">
                    <i class="fa fa-sign-out"></i> Sign Out
                </a>
            </li>

        </ul>
    </div>
</div>