<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>

    <div id="top-nav"></div>
    <div id="side-nav"></div>
    <div id="modal-container"></div>
    <div id="app" class="container {% block pageClass %}{% endblock %}"></div>

    {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/layout.js') }}"></script>
    {% endblock %}

    </body>
</html>
