<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/layout.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
{#    <div id="js-navigation-slider" class="navigation-slider navigation-slider--left">
        <a href="javascript:void(0)" class="navigation-slider__close-button navigation-slider__close-button--left" onclick="closeNav()">&times;</a>
    </div>

    <div id="js-navigation-slider2" class="navigation-slider navigation-slider--right">
        <a href="javascript:void(0)" class="navigation-slider__close-button navigation-slider__close-button--right" onclick="closeNav2()">&times;</a>
    </div>

    <div id="js-navigation-slider3" class="navigation-slider navigation-slider--bottom">
        <a href="javascript:void(0)" class="navigation-slider__close-button navigation-slider__close-button--right" onclick="closeNav3()">&times;</a>
    </div>#}

{#    <h2>Animated Sidenav Example</h2>
    <p>Click on the element below to open the side navigation menu.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

    <h2>Animated Sidenav Example</h2>
    <p>Click on the element below to open the side navigation menu.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav2()">&#9776; open2</span>

    <h2>Animated Sidenav Example</h2>
    <p>Click on the element below to open the side navigation menu.</p>
    <span style="font-size:30px;cursor:pointer" onclick="openNav3()">&#9776; open3</span>#}


    <div class="main-content container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/layout.js') }}"></script>

            <script>
                debugger;
                function openNav() {
                    document.getElementById("js-navigation-slider").style.width = "250px";
                }

                function closeNav() {
                    document.getElementById("js-navigation-slider").style.width = "0";
                }

                function openNav2() {
                    document.getElementById("js-navigation-slider2").style.width = "250px";
                }

                function closeNav2() {
                    document.getElementById("js-navigation-slider2").style.width = "0";
                }

                function openNav3() {
                    document.getElementById("js-navigation-slider3").style.height = "150px";
                }

                function closeNav3() {
                    document.getElementById("js-navigation-slider3").style.height = "0";
                }
            </script>
        {% endblock %}
    </body>
</html>
